:root{
    --color-principal: #d1be19;
    --color-principalHover: #f8e74e;
    --color-fondo: #212529;
    --color-contenedor: #181816;
}
.contenedor_cart{
    color: var(--color-principal);
    background-color: rgba(48, 48, 46, 0.6);
}
.contenedor__detalles{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: 
    " .     titulo  titulo  tituloUni  tituloTot  . ";
    justify-items: start;
    color: white;
    background-color: var(--color-contenedor);
}
.contenedor_total{
    color: white;
    background-color: var(--color-contenedor);
}
.titulo{
    grid-area: titulo;
}
.tituloUni{
    grid-area: tituloUni;
}
.tituloTot{
    grid-area: tituloTot;
}
.item{
    grid-column: 1/ span 7;
}
.detalle__producto{
    border-top: 1px solid white;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-areas: 
    " foto    producto  producto  precioUni  precioTot  eliminar ";
    align-items: center;
    justify-items: start;
}
.foto{
    width: 65PX;
    height: 70px;
    grid-area: foto;
}
.producto{
    grid-area: producto;
}
.precioUni{
    grid-area: precioUni;
}
.precioTot{
    grid-area: precioTot;
}
.eliminar{
    grid-area: eliminar;
}
.btn-vaciar{
    border: none;
    background-color: transparent;
}
.bi-cart3{
    font-size: 3.8rem;
}
.btn-link{
    border: 1px solid var(--color-principal);
    color: var(--color-principal);
    background-color: transparent;
    text-decoration: none;
    transition: all .35s ease-in-out;
}
.btn-link:hover{
    border: 1px solid var(--color-principal);
    color: black;
    background-color: var(--color-principal);
}