:root{
    --color-principal: #d1be19;
    --color-principalHover: #f8e74e;
    --color-fondo: #212529;
    --color-contenedor: #181816;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.detalles_checkout{
    height: auto;
    min-height: 370px;
    text-align: start;
    color: white;
    background-color: var(--color-contenedor);
}
.detalles{
    height: 50px;
}
.detalles p{
    margin: 0;
}
.detalles p:first-child{
    color: white;
    font-size: 1rem;
}
.detalles  p:last-child{
    color: #999997;
    font-size: .9rem;
}
.precio_final{
    font-size: 1.2rem;
    font-weight: 500;
    color: #d1be19;
}
.formulario{
    height: auto;
    min-height: 370px;
    background-color: var(--color-contenedor);
}
.form-input {
    margin: 10px auto;
    border: 1px solid var(--color-contenedor);
    width: 80%;
    height: 1.3rem;
    display: inline-block;
    color: white;
    font-size: 1rem;
    background-color: transparent;
}
.form-input:focus, 
.form-input:visited, 
.form-input:active {
    color: white;
    background-color: transparent;
    box-shadow: none;
}
label{
    color: #999997;
    font-size: .9rem;
}
.formulario h5{
    color: white;
}
.bloqueado{
	opacity: 35% !important;
    cursor: not-allowed !important;
}
.alerta{
    margin-bottom: 10px;
    display: block;
    font-size: .85rem;
    color: #e73c29;
    text-align: start;
}
.input_cell{
    width: 60%;
    display: inline-block;
}
.PhoneInput{
    display: inline-flex !important;
}
.PhoneInputInput{
    margin: 10px auto;
    border: 1px solid var(--color-contenedor);
    height: 1.3rem;
    display: inline-block;
    color: white;
    font-size: 1rem;
    background-color: transparent;
}