:root{
    --color-principal: #d1be19;
    --color-principalHover: #f8e74e;
    --color-fondo: #212529;
    --color-contenedor: #181816;
    --color-check: #0dc553;
}
.wrapper_error img{
    width: 50%;
    max-width: 650px;
}
.wrapper_error{
    height: 100vh;
    max-height: 560px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.wrapper_error h1{
    color: var(--color-principal);
    font-size: 3.8rem;
}
.wrapper_error p{
    color: rgb(233, 238, 245);
    font-size: 20px;
    padding: 20px;
}
.btn-error{
    padding: 13px 30px;
    border-radius: 15px;
    border: 1px solid var(--color-principal);
    color: black;
    background-color: var(--color-principal);
    transition: all .3s ease-in;
}
.btn-error:hover{
    border: 1px solid var(--color-principal);
    color: var(--color-principal);
    background-color: transparent;
}

@media screen and (max-width:630px){
    .wrapper_error h1{        
        font-size: 3.2rem;        
    }
    .wrapper_error p{
        font-size: 15px;
    }
}