.contenedor{
    width: 90vw;
    height: contain;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: end;
    flex-wrap: wrap;
    background-color: rgb(204, 204, 204);
}
